@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Red+Hat+Display:wght@500&family=Roboto:wght@500;700;900&display=swap');

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--pale-blue);
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
}


.card {
  width: 28.125rem ;
  background-color: white;
  color: var(--desaturated-blue);
  border-radius: 1.25rem;
  overflow: hidden;
  margin: 3.125rem auto;

}

.title {
  color: var(--dark-blue);
  font-weight: 900;
  font-size: 2rem;
}


.hero-image {
  width: 100%;
}

.container {
  padding: 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.125rem;
}


.container > * {
  margin: 0.8125rem 0;

}

.order-description {
  line-height: 1.5625rem;
}

.plan-container {
  font-size: 1rem;
  background-color: var(--very-pale-blue);
  padding: 1.6525rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.plan-container a {
  color: var(--bright-blue);
  font-size: 0.8125rem;
  font-weight: 700 /*calc(16 * (100 / 700))*/ ;
}

.plan-container a:hover {
  opacity: 0.8;
  text-decoration: none;
}

.plan-container strong {
  color: var(--dark-blue);
}

.plan-descriptipion {
  line-height: 1.25rem;
  margin-right: 4.6875rem;
}


button {
  width: 100%;
  border: none;
  border-radius: 0.75rem;
  font-weight: 700 /* calc( 16 * (100 / 700)) */;
  cursor: pointer;
  font-size: 0.9rem;

}

.proceed-button {
  background-color: var(--bright-blue);
  padding: 1rem 0;
  color: white;
  box-shadow: 0 1.25rem 1.875rem -0.5rem rgb(197 189 245);

}

.proceed-button:hover {
  opacity: 0.8;
}

.cancel-button {
  background-color: white;
  color: var(--desaturated-blue);
  margin-top: 1.375rem;
  
}

.cancel-button:hover {
  color: black;
}